@import "tailwindcss";
@plugin "daisyui";

/* -----------------------------------
  Header のアニメーション
----------------------------------- */

/* 右からスライドインアニメーション */
.slide-enter-from {
  transform: translateX(100%);
}

.slide-enter-active {
  transition: transform 0.3s ease-in-out;
}

.slide-enter-to {
  transform: translateX(0);
}

.slide-leave-from {
  transform: translateX(0);
}

.slide-leave-active {
  transition: transform 0.3s ease-in-out;
}

.slide-leave-to {
  transform: translateX(100%);
}

/* -----------------------------------
  ベーススタイル
----------------------------------- */
body {
  background: #ffffff;
  color: #171717;
}